<!-- <h3 class="pb-3 mb-4 font-italic border-bottom">
    {{rssData?.rss.channel[0].title[0]}}
</h3> -->

<!-- Total Item: {{RssData?.rss.channel[0].item.length}} -->
<div class="row mt-4" *ngIf="rssData">
    <div class="col-md-6" *ngFor="let o of rssData?.rss.channel[0].item">
        <div class="card mb-4 box-shadow h-md-250">
            <div class="card-body">
                <h3 class="mb-0">
                    <a class="text-dark" href="{{o.link[0]}}" target="_blank">{{o.title[0]}}</a>
                </h3>
                <div class="mb-1 text-muted">{{o.pubDate[0].substr(0, 16)}}</div>
                <p class="card-text mb-auto" [innerHTML]="o.description[0].substring(0, 255) + '...'"></p>
                <a href="{{o.link[0]}}">Continue reading</a>
            </div>
            <!-- <img class="card-img-right flex-auto d-none d-md-block" alt="Thumbnail [200x250]"
                    style="width: 200px; height: 250px;" src=""> -->
        </div>
    </div>
</div>