<!-- Covid-19 Summary -->
<div *ngIf="trackerSummary" class="card-container">
    <div class="col-auto cardCustom bg-dark text-white">
        <span>Confirmed: <b>{{trackerSummary.confirmed | number:'.0'}}</b></span>
    </div>
    <div class="col-auto cardCustom bg-primary text-white">
        <span>Active: <b>{{trackerSummary.active | number:'.0'}}</b></span>
    </div>
    <div class="col-auto cardCustom bg-success text-white">
        <span>Recovered: <b>{{trackerSummary.recovered | number:'.0'}}</b></span>
    </div>
    <div class="col-auto cardCustom bg-danger text-white">
        <span>Deceased: <b>{{trackerSummary.deaths | number:'.0'}}</b></span>
    </div>
</div>

<!-- Report By Country -->
<div *ngIf="trackerReport" class="table-responsive">
    <table class="table table-striped" id="covid19Report">
        <thead class="thead-dark">
            <tr>
                <th scope="col" data-card-title>#</th>
                <th scope="col" data-card-title>State</th>
                <th scope="col">Confirmed</th>
                <th scope="col">Active</th>
                <th scope="col">Recovered</th>
                <th scope="col">Deceased</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let state of trackerReport; let i = index" style="cursor: pointer;"
                (click)="viewDetails(state.state)">
                <td scope="row">{{i + 1}}</td>
                <td><a routerLink="/india/{{state.state}}">{{state.state}}</a></td>
                <td><b class="text-warning">{{state.confirmed | number:'.0'}}</b></td>
                <td><b class="text-primary">{{state.active | number:'.0'}}</b></td>
                <td><b class="text-success">{{state.recovered | number:'.0'}}</b></td>
                <td><b class="text-danger">{{state.deaths | number:'.0'}}</b></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- India Geochart -->
<h2 class="mt-4 text-muted">
    {{indiaChart.title}}
</h2>

<div *ngIf="showIndiaChart">
    <google-chart [title]="indiaChart.title" [type]="indiaChart.type" [data]="indiaChart.data" 
    [columnNames]="indiaChart.columnNames" [options]="indiaChart.options" class="heatmap">
    </google-chart>
    <!-- <div id="indiaChartDiv" class="heatmap"></div> -->
</div>