<h2 class="mt-4 text-muted">
    How to fight against Corona?
</h2>

<div class="iframe-container">
    <iframe src="https://www.youtube.com/embed/O9Zyrd_vLqo" frameborder="0" allowfullscreen
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="iframe-content"></iframe>
</div>

<div class="about_corona" id="abt">
    <div class="symptoms">
        <img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/symptoms.png" alt="" title="">
    </div>
    <div class="corona_right">
        <div class="spread">
            <h3>How it Spreads</h3>
            <img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/block-one.png" alt="" title="">
        </div>
        <div class="prevention">
            <h3>PREVENTION</h3>
            <img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/block-two.png" alt="" title="">
        </div>
    </div>
</div>